* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.activebg{
/* From https://css.glass */
/* From https://css.glass */
background: rgba(86, 244, 13, 0.35);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.4px);
-webkit-backdrop-filter: blur(9.4px);
}
.navbar {

width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
height: 100px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
 .navbar-logo img{
  width: 5rem;
  height: 4rem;
  padding: 0.5rem;
  margin-top: -1rem;
 }

/* .navbar-icon {
  margin-right: 0.5rem;
  width: fit-content;
  height: 100px;
} */



.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}



.nav-links {
  color: rgb(152, 236, 126);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */

text-align: center;
letter-spacing: -0.5px;

color: #000000;
}

.activated {
  color: #07A53D;
;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media (max-width: 1000px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #07A53D;
    /* background-color: #5ec080; */
  }
}
